node_modules
.cache
public
src/.DS_Store
public/.DS_Store
.DS_Store
*.md~
*.jsx~
*.worksheet
*.bbprojectsettings
*.js~
*.bbprojectd
*.md#
*.xlsx
src/styles/menu.html
src/styles/menu.js
src/styles/test.html
