/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* CSS */

body {
margin: 0.5rem;
font-family: Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 33% 67%;
}

.section {
    padding: 5% 5% 5% 5%;
}

#left {
    background-color: #c0cadc;
    top: 0;
    box-sizing: border-box;
}

#right {
    background-color: white;
}

h1 {font-size: 1.9rem; line-height: 2.2rem; color: #333f48; padding-bottom: 12px;}
h2 {font-size: 1.2rem; line-height: 1.5rem; color: #660000; padding-bottom: 12px;}
h3 {font-size: 1.0rem; line-height: 1.25rem; color: #666; padding-bottom: 12px;}

li {list-style: none;}

table {width: 100%; padding-bottom: 24px;}

th, td {padding: 6px 8px;border: 0; border-spacing: 0;}

p, th, td {font-size: 0.75rem; line-height: 1rem; text-align: left;}

p {padding-bottom: 8px;}

p, td {color: $min-text;}

th {
	color: #333f48;
	background-color: #ccc;
	font-weight: bold;
	letter-spacing: 0.01rem;
}

tr:nth-child(odd) { 
	background-color: #f3f3f4;
}

/* Table cells fixtures */

#fixtures td:nth-child(1), #fixtures td:nth-child(2) {
	width: 10%;
}

#fixtures td:nth-child(3) {
	width: 60%;
}

#fixtures td:nth-child(4) {
	width: 20%;
}

/* Table cells games */

#game td:nth-child(1), #game td:nth-child(2), #game td:nth-child(3), #game td:nth-child(4) {
	width: 20%;
}



strong {font-weight: 600; }


/* Accordion */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #c0cadc;
  color: #333f48;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}